In [3]:
#state1
import pandas as pd

# Read the CSV file into a DataFrame

df = pd.read_csv('bus_details_jk1_csv.csv')

# Remove rows with any null values
df_jk1_new = df.dropna()

# Save the cleaned DataFrame back to a CSV file
df_jk1_new.to_csv('bus_details_jk2_csv.csv')

#print("Rows with null values removed and saved to bus_details_jk2_csv.csv")

In [23]:
#state2
import pandas as pd

# Read the CSV file into a DataFrame

df = pd.read_csv('bus_details_kerala_csv.csv')

# Remove rows with any null values
df_kerala_new = df.dropna()

# Save the cleaned DataFrame back to a CSV file
df_kerala_new.to_csv('bus_details_kerala1_csv.csv')

#print("Rows with null values removed and saved to bus_details_jk2_csv.csv")

In [25]:
#state3
import pandas as pd

# Read the CSV file into a DataFrame

df = pd.read_csv('bus_details_ktcl_csv.csv')

# Remove rows with any null values
df_ktcl_new = df.dropna()

# Save the cleaned DataFrame back to a CSV file
df_ktcl_new.to_csv('bus_details_ktcl1_csv.csv')

#print("Rows with null values removed and saved to bus_details_jk2_csv.csv")

In [27]:
#state4
import pandas as pd

# Read the CSV file into a DataFrame

df = pd.read_csv('bus_details_pepsu_csv.csv')

# Remove rows with any null values
df_pepsu_new = df.dropna()

# Save the cleaned DataFrame back to a CSV file
df_pepsu_new.to_csv('bus_details_pepsu1_csv.csv')

#print("Rows with null values removed and saved to bus_details_jk2_csv.csv")

In [29]:
#state5
import pandas as pd

# Read the CSV file into a DataFrame

df = pd.read_csv('bus_details_rsrtc_csv.csv')

# Remove rows with any null values
df_rsrtc_new = df.dropna()

# Save the cleaned DataFrame back to a CSV file
df_rsrtc_new.to_csv('bus_details_rsrtc1_csv.csv')

#print("Rows with null values removed and saved to bus_details_jk2_csv.csv")

In [31]:
#state6
import pandas as pd

# Read the CSV file into a DataFrame

df = pd.read_csv('bus_details_ts_csv.csv')

# Remove rows with any null values
df_ts_new = df.dropna()

# Save the cleaned DataFrame back to a CSV file
df_ts_new.to_csv('bus_details_ts1_csv.csv')

#print("Rows with null values removed and saved to bus_details_jk2_csv.csv")

In [33]:
#state7
import pandas as pd

# Read the CSV file into a DataFrame

df = pd.read_csv('bus_details_hrtc_csv.csv')

# Remove rows with any null values
df_hrtc_new = df.dropna()

# Save the cleaned DataFrame back to a CSV file
df_hrtc_new.to_csv('bus_details_hrtc1_csv.csv')

#print("Rows with null values removed and saved to bus_details_jk2_csv.csv")

In [35]:
#state8
import pandas as pd

# Read the CSV file into a DataFrame

df = pd.read_csv('bus_details_bihar_csv.csv')

# Remove rows with any null values
df_bihar_new = df.dropna()

# Save the cleaned DataFrame back to a CSV file
df_bihar_new.to_csv('bus_details_bihar1_csv.csv')

#print("Rows with null values removed and saved to bus_details_jk2_csv.csv")

In [37]:
#state9
import pandas as pd

# Read the CSV file into a DataFrame

df = pd.read_csv('bus_details_astc_csv.csv')

# Remove rows with any null values
df_astc_new = df.dropna()

# Save the cleaned DataFrame back to a CSV file
df_astc_new.to_csv('bus_details_astc1_csv.csv')

#print("Rows with null values removed and saved to bus_details_jk2_csv.csv")

In [39]:
#state10
import pandas as pd

# Read the CSV file into a DataFrame

df = pd.read_csv('bus_details_bengal_csv.csv')

# Remove rows with any null values
df_bengal_new = df.dropna()

# Save the cleaned DataFrame back to a CSV file
df_bengal_new.to_csv('bus_details_bengal1_csv.csv')

#print("Rows with null values removed and saved to bus_details_jk2_csv.csv")